<div class="span1 offset4">
	<% if current_user.role == "admin" %>
		<%=link_to(image_tag("user.png"), users_path) %></br>
		Usuários
	<% end %>
</div>
<div class="span1">
	<%=link_to(image_tag("earth.png"), "/mapas/index") %></br>
		Mapa Virtual
</div>
<div class="span1">
	<%=link_to(image_tag("exit.png"), destroy_user_session_path, :method => :delete) %></br>
		Sair
</div>
<div class ="span5"></div>