<script src="http://maps.google.com/maps/api/js?v=3.2&sensor=false"></script>
<%= javascript_include_tag "application", "mapa/mapas" %>
<div id="map"style="position: absolute; width: 75%; height: 90%;"></div>

<form class="navbar-search" id="frmcons" style="padding-left:40px">
	<input id="insc" type="text" class="search-query" placeholder="Inscrição Municipal...">
	<button id="btnInsc" type="button" class="btn btn-primary">Consultar</button>
</form>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Oooops...</h3>
  </div>
  <div class="modal-body">
    <p>Por favor, minimo 8 caracteres para consulta...</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Fechar</button>
  </div>
</div>

<!-- Modal -->
<div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Oooops...</h3>
  </div>
  <div class="modal-body">
    <p>Nenhum lote encontrado com a inscrição informada !</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Fechar</button>
  </div>
</div>



