<div id="antenas">
  <table class="table table-bordered table-hover table-condensed">
    <col width="5%">
    <col width="35%">
  <thead>
  <tr>
    <th>Id</th>
    <th>Cobertura</th>
    <th>Sinalização</th>
    <th>Capacidade</th>
  </tr>
  </thead>
  <tbody>
  	<% if @antenas.empty? %>
      <tr>
        <td colspan=5>Não exitem registros com o valor informado</td>
      </tr>
    <% end %>
    <% @antenas.each do |s| %>
      <tr>
        <td><%= s.gid %></td>
        <td><%= s.name.to_s.upcase %></td>
        <td><%= s.situacao.to_s.upcase %></td>
        <td><%= s.tipo.to_s.upcase %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>