<p>Olá <b><%= @resource.name %></b></p>

<p>Alguém pediu um link para alterar sua senha, e você pode fazer isso através do link abaixo.</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se você não pediu isso, por favor, ignore este e-mail.</p>
<p>Sua senha só será alterada caso você clique no link acima e crie uma nova senha.</p>

<p>Atenciosamente</p>
<p><b>Administrador</b></p>