<% if user_signed_in? %>
<div class="navbar navbar-fluid-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "SIGGeo-Web", root_path, :class => 'brand' %>
      <div class="container-fluid nav-collapse">
        <ul class="nav">
          <% if current_user.role == "admin" %>
          <li><%= link_to "Usuários", users_path  %></li>
          <% end %>
        </ul>       
        <!-- Devise -->
        
        <p class="navbar-text pull-right">
        
          Usuário: <%= link_to current_user.name, edit_user_registration_path,:class => 'navbar-link' %>
          <!--%= link_to 'Editar Perfil', edit_user_registration_path, :class => 'navbar-link' %--> 
          
            <%= link_to "Logout", destroy_user_session_path, :method => :delete, :class => 'navbar-link', :style => 'padding-left:30px'  %>  
          
      </p>
      

      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
<% end %>