<h3>Lista de Bairros</h3>

<% if can? :read, Bairro %>
<%= form_tag bairros_path, :method => 'get', :class => 'form-search', :id => 'bairros_search' do %>
  <%= text_field_tag :search, params[:search], :class => 'input-medium search-query' %>
    <%= submit_tag "Consultar", :bairro => nil, :class => 'btn btn-primary' %>
<% end %>
<% end %>

<div id="bairros">
  <%= render 'bairros' %>
</div>

<br />
